body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141315;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: 2px solid #8549ba;
  border-radius: 3px;
}

a {
  color: #8549ba;
  cursor: pointer;
}

a:hover {
  color: #a560eb;
  text-decoration: underline;
}

.link-button {
  color: #8549ba;
  cursor: pointer;
  background: none;
  border: none;
}

.link-button:hover {
  color: #a560eb;
  text-decoration: underline;
}

input:focus-visible {
  outline: #a560eb;
  border-color: #a560eb;
}
